

@import "bootstrap-sprockets";
@import "bootstrap-datepicker";
@import "bootstrap";
@import "datepicker";

.header {
  height: 40px;
  padding: 5px 15px;
  background: #3C8DBC;
  font-size: 22px;
  color: #ffffff;
}

html,
body {
  min-height: 100%;
  height: 100%;
}

.input_form {
  max-width: 300px;
  margin-bottom: 10px;
}

select {
  max-width: 300px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  border: 1px;
  background: #f8fcfa;
  padding: 2px;
}

select:hover {
  background-color: #f8fcfa;
}

body {
  background-color: #ECF0F5;
}

.container-fluid {
  height: calc(100% - 60px);

  .row,
  .sidebar,
  .content {
    height: 100%;
  }

  .sidebar {
    background-color: #F9FAFC;
    padding-top:20px;

    .list-group-item {
      background: transparent;
      padding: 0;
      border: none;

      a {
        padding: 10px;
        display: block;
      }
    }
  }
}

.icon {
  &-open {
    color: green;
  }

  &-edit {
    color: #82c2ff;
  }

  &-remove {
    color: red;
  }
}

